{% extends 'base.html.twig' %}

{% block title %}SymfJunior{% endblock %}

{% block body %}

    {% if users %}
        <table id="users" class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Index</th>
                <th scope="col">Index Start At</th>
                <th scope="col">Integer</th>
                <th scope="col">Float</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Fullname</th>
                <th scope="col">Email</th>
                <th scope="col">Bool</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr class="table-light">
                <td>{{ user.index }}</td>
                <td>{{ user.indexstartat }}</td>
                <td>{{ user.somenumber }}</td>
                <td>{{ user.floater }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.bully }}</td>
                <td>
                    <a href="/user/{{ user.id }}" class="btn btn-dark">Show</a>
                    <a href="/user/edit/{{ user.id }}" class="btn btn-secondary">Edit</a>
                    <a href="/" class="btn btn-danger delete-user" data-id="{{ user.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            {{ knp_pagination_render(users) }}
        </div>
    {% else %}
        <p>No users to display</p>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}